    body{
        margin:0px;
        font-family: Arial,helvetica,sans-serif;
    }
    
    #topbar{
        background-color:#7B0000;
        width:100%;
        height:40px;
        color:white;
    }
    
    .fixedwidth{
        width:1200px;
        margin: 0 auto;
    }
    #logodiv{
        float:left;
        border-right: 1px solid #990000;
        padding-right:10px;
    }
    #signindiv{
        font-weight:bold;
        padding: 6px 80px 9px 20px;
        font-size:0.9em;
        float:left;
        border-right: 1px solid #990000;
    }
    
    #signindiv img {
        position:relative;
        top: 3px;
    }
    
    #topmenudiv{
        float:left;
    }
    #topmenudiv li{
        list-style:none;
        font-weight:bold;
        font-size:0.9em;
        border-right: 1px solid #990000;
        padding:10px 20px 13px 20px;
        float:left;
    }

    #topmenudiv ul{
        padding:0;
        margin:0;
    }
    
    #searchdiv{
        float:left;
        padding:8px;
        }
    #searchdiv input{
        height:15px;
        border:none;
        padding:3px 0 3px 5px;
        font-size:1em;
        background-image:url("images/search.png");
        background-repeat: no-repeat;
        background-position: right center;
        }
    
    #newsbar{
        background-color:#990000;
        width:100%;
        height:90px;
        color:white;
    
    }
    .break{
        clear:both;
    }
    
    #newsbar p{
        margin:0;
        padding:0;
        padding-top:10px;
        padding-left:4px;
        float:left;
    }
    #newsheader{
        font-size:3em;
    }
    #uk{
        font-size:0.7em;
        padding-left:20px;
    }
    #rss{
        float:right;
        margin-top:40px;
    }
    
    #rss img{
        height:14px;
    }

    #topicmenu{
        
        
    }
    #topicmenu ul{
        background-color:#3E0C0D;
        margin:0;
        padding:5px 0 0 5px;
        height:20px;
        
    }
    #topicmenu li{
        list-style:none;
        font-size:0.8em;
        border-right: 1px solid #990000;
        float:left;
        background-color:none;
        padding: 0 10px 0 10px;
    }
    .selected{
        background-color:#EDEDED;
        color: #505057;
        height: 20px;
        position:relative;
        top:-4px;
        padding-top: 4px !important;
    }
    #content{
        width:100%;
        color:#505050;
        font-size:0.8em;
    }
    .date{
        font-weight:bold;
    }
    h1 {
        color: #4A7194;
        font-size:2.4em;
    }
    .headlineimage{
        float: left;
    }
    .newsitem{
        position:relative;
        left:10px;
        top: -15px;
        width: 250px;
        float:left;
        font-size:1.1em;
    }
    
    .newsitem a {
        color: #4A7194;
        text-decoration:none;
        
    }
    .newsitem a:hover {
        text-decoration:underline;
    }
    .video{
        background-image:url("images/play.png");
        background-size: 13px 13px;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left:20px;
    }
    .newsitem p {
        padding-top:4px;
        margin:0;
    }
    .music{
        background-image:url("images/music.png");
        background-size: 13px 13px;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left:20px;
    }
    .live{
        background-image:url("images/live.png");
        background-size: 24px 13px;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left:20px;
    }
    
    #watchlisten{
        position: relative;
        top:-75px;
        margin:0;
        background-color:#EEEEEE;
        float:right;
        width:400px;
    }
    h2 {
        color: #505050;
        font-size:2em;
        margin:10px 0 10px 20px;
    }
    .boxes{
        margin:20px 10px 0 0;
        float:right;
    }
    .videoscreen{
        width:100%
    }
    #watchlisten a:hover {
        text-decoration:underline;
    }
    #watchlisten a {
        color: #4A7194;
        text-decoration:none;
        
    }
